.form {
  // This class is used for the login and signup forms.
  &__container {
    background: #fff;
    position: absolute;
    width: 100%;
    max-width: 550px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 1rem 1.5rem;

    .text {
      margin: 1rem 0;
    }

    .input {
      width: 100%;
      margin-right: 1rem;
    }
  }

  &__background {
    height: 100vh;
    background: repeating-linear-gradient(
      135deg,
      $color-blue,
      $color-blue 30%,
      #fff 30%,
      #fff 60%
    );
  }
}
