.settings-page {
  .settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .setting-block {
    margin: 1rem 0 1.5rem 0;

    .text {
      margin: 0.5rem 0;
    }

    .input {
      margin-top: 1rem;
      min-width: 50%;
    }

    .input[type="checkbox"] {
      display: block;
      margin-right: 0.5rem;
    }

    .input,
    .label {
      display: inline;
    }
  }

  .setting-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
